@import './themes.scss';

body {
  margin: 0;
  padding: 0;

  min-height: 100%;

  font-size: 1rem;
  font-family: 'Raleway', 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol';
  line-height: 1.618;
  font-variant-numeric: tabular-nums;

  background-color: var(--app-color-shell);
  color: var(--app-color-dark);

  overflow-y: hidden;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: stretch;
}

html {
  height: 100%;

  overflow-y: hidden;
}

html,
body {
  width: 100%;

  overflow-x: hidden;
}

::selection {
  background-color: rgba(var(--app-color-primary-rgb), 0.2);
}
